 <h1>My QUOTES</h1>
 
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
          </div>
          <div class="col-md-6">
            <br>
            <div *ngFor='let quote of quotes'>
              <li>{{quote.name}}</li>
              <app-quote-details [quote]='quote' (isComplete)='completeQuote($event,i)'></app-quote-details>
            </div>
          </div>
      
        </div>
      </div>
      <ul>
      
      </ul>
